In [1]:
import csv, sqlite3

%pip install ipython-sql prettytable
import pandas as pd

Requirement already satisfied: ipython-sql in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.17.0)
Requirement already satisfied: ipython in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython-sql) (8.32.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython-sql) (8.32.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from ipython-sql) (2.0.45)
Requirement already satisfied: sqlparse in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from ipython-sql) (0.5.5)
Requirement already satisfied: six in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in /Users/ameen/Library/Python/3.13/lib/python/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 24.2 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
con= sqlite3.connect("ameen.db")
cur= con.cursor()

In [4]:
CSV_PATH= "Chicago_Public_Schools_-_Progress_Report_Cards_(2011-2012)_20260104.csv"
df=pd.read_csv(CSV_PATH)
df.head()

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,150000000000000,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,150000000000000,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,150000000000000,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [5]:
df.to_sql("Chicago", con, if_exists="replace",index=False, method = "multi",chunksize=200)

566

when u do chunksize 200 it tells pandas to insert the dataframe 200 rows at a time, not all at once

In [6]:
df.head

<bound method NDFrame.head of      School ID                                     Name of School  \
0       610038                  Abraham Lincoln Elementary School
1       610281  Adam Clayton Powell Paideia Community Academy ...
2       610185                Adlai E Stevenson Elementary School
3       609993                    Agustin Lara Elementary Academy
4       610513                      Air Force Academy High School
..         ...                                                ...
561     609844                 William W Carter Elementary School
562     610308           Wilma Rudolph Elementary Learning Center
563     610088                Wolfgang A Mozart Elementary School
564     609977               Woodlawn Community Elementary School
565     610392                 World Language Academy High School

    Elementary, Middle, or High School          Street Address     City State  \
0                                   ES        615 W Kemper Pl   Chicago    IL
1                                   ES  7511 S South Shore Dr   Chicago    IL
2                                   ES     8010 S Kostner Ave   Chicago    IL
3                                   ES     4619 S Wolcott Ave   Chicago    IL
4                                   HS        3630 S Wells St   Chicago    IL
..                                 ...                     ...      ...   ...
561                                 ES    5740 S Michigan Ave   Chicago    IL
562                                 ES       110 N Paulina St   Chicago    IL
563                                 ES      2200 N Hamlin Ave   Chicago    IL
564                                 ES     6657 S Kimbark Ave   Chicago    IL
565                                 HS     3120 S Kostner Ave   Chicago    IL

     ZIP Code    Phone Number  \
0       60614  (773) 534-5720
1       60649  (773) 535-6650
2       60652  (773) 535-2280
3       60609  (773) 535-4389
4       60609  (773) 535-1590
..        ...             ...
561     60637  (773) 535-0860
562     60612  (773) 534-7460
563     60647  (773) 534-4160
564     60637  (773) 535-0801
565     60623  (773) 535-4334

                                                 Link   \
0    http://schoolreports.cps.edu/SchoolProgressRep...
1    http://schoolreports.cps.edu/SchoolProgressRep...
2    http://schoolreports.cps.edu/SchoolProgressRep...
3    http://schoolreports.cps.edu/SchoolProgressRep...
4    http://schoolreports.cps.edu/SchoolProgressRep...
..                                                 ...
561  http://schoolreports.cps.edu/SchoolProgressRep...
562  http://schoolreports.cps.edu/SchoolProgressRep...
563  http://schoolreports.cps.edu/SchoolProgressRep...
564  http://schoolreports.cps.edu/SchoolProgressRep...
565  http://schoolreports.cps.edu/SchoolProgressRep...

                        Network Manager  ...       RCDTS Code X_COORDINATE  \
0          Fullerton Elementary Network  ...  150000000000000  1171699.458
1             Skyway Elementary Network  ...  150000000000000  1196129.985
2             Midway Elementary Network  ...  150000000000000  1148427.165
3           Pershing Elementary Network  ...  150000000000000  1164504.290
4    Southwest Side High School Network  ...  150000000000000  1175177.622
..                                  ...  ...              ...          ...
561     Burnham Park Elementary Network  ...  150000000000000  1178101.365
562           Fulton Elementary Network  ...  150000000000000  1165013.632
563        Fullerton Elementary Network  ...  150000000000000  1150644.396
564     Burnham Park Elementary Network  ...  150000000000000  1185825.188
565       West Side High School Network  ...  150000000000000  1147521.302

    Y_COORDINATE   Latitude  Longitude Community Area Number  \
0    1915829.428  41.924497 -87.644522                     7
1    1856209.466  41.760324 -87.556736                    43
2    1851012.215  41.747111 -87.731702                    70
3    1873959.199  41.809757 -87.672145                    61
4    1880745.126  41.828146 -87.632794                    34
..           ...        ...        ...                   ...
561  1866810.123  41.789841 -87.622490                    40
562  1900863.727  41.883575 -87.669514                    28
563  1914368.955  41.920927 -87.721925                    22
564  1860883.579  41.773400 -87.594356                    42
565  1883405.128  41.836020 -87.734195                    30

    Community Area Name  Ward Police District                     Location
0          LINCOLN PARK    43              18  (41.92449696, -87.64452163)
1           SOUTH SHORE     7               4  (41.76032435, -87.55673627)
2               ASHBURN    13               8  (41.74711093, -87.73170248)
3              NEW CITY    20               9    (41.8097569, -87.6721446)
4         ARMOUR SQUARE    11               9  (41.82814609, -87.63279369)
..                  ...   ...             ...                          ...
561     WASHINGTON PARK    20               2  (41.78984129, -87.62248974)
562      NEAR WEST SIDE    27              13  (41.88357478, -87.66951363)
563        LOGAN SQUARE    35              25  (41.92092734, -87.72192541)
564            WOODLAWN     5               3  (41.77339962, -87.59435584)
565      SOUTH LAWNDALE    22              10  (41.83601953, -87.73419465)

[566 rows x 79 columns]>

In [7]:
pd.read_sql_query('SELECT * FROM Chicago', con)

,School ID,Name of School,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,RCDTS Code,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,Community Area Number,Community Area Name,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,150000000000000,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,150000000000000,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,150000000000000,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,150000000000000,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,150000000000000,1178101.365,1866810.123,41.789841,-87.622490,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
562,610308,Wilma Rudolph Elementary Learning Center,ES,110 N Paulina St,Chicago,IL,60612,(773) 534-7460,http://schoolreports.cps.edu/SchoolProgressRep...,Fulton Elementary Network,...,150000000000000,1165013.632,1900863.727,41.883575,-87.669514,28,NEAR WEST SIDE,27,13,"(41.88357478, -87.66951363)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,150000000000000,1150644.396,1914368.955,41.920927,-87.721925,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,...,150000000000000,1185825.188,1860883.579,41.773400,-87.594356,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,...,150000000000000,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [12]:
pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table';",
    con
)

                                name
0                        census_data
1  INTERNATIONAL_STUDENT_TEST_SCORES
2                            Chicago

Query the database system catalog to retrieve column metadata¶
The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [16]:
pd.read_sql("SELECT count(name) FROM PRAGMA_TABLE_INFO('Chicago')",con)

                                  name
0                            School ID
1                       Name of School
2   Elementary, Middle, or High School
3                       Street Address
4                                 City
..                                 ...
74               Community Area Number
75                 Community Area Name
76                                Ward
77                     Police District
78                            Location

[79 rows x 1 columns]

In [21]:
pd.read_sql("select name,type, length(type) FROM PRAGMA_TABLE_INFO('CHICAGO')",con)

                                  name     type  length(type)
0                            School ID  INTEGER             7
1                       Name of School     TEXT             4
2   Elementary, Middle, or High School     TEXT             4
3                       Street Address     TEXT             4
4                                 City     TEXT             4
..                                 ...      ...           ...
74               Community Area Number  INTEGER             7
75                 Community Area Name     TEXT             4
76                                Ward  INTEGER             7
77                     Police District  INTEGER             7
78                            Location     TEXT             4

[79 rows x 3 columns]

In [29]:
pd.read_sql("""
SELECT count(*) AS cnt
FROM Chicago
WHERE "Elementary, Middle, or High School" = "ES";
""", con)

   cnt
0  462

In [36]:
df.columns

Index(['School ID', 'Name of School', 'Elementary, Middle, or High School',
       'Street Address', 'City', 'State', 'ZIP Code', 'Phone Number', 'Link ',
       'Network Manager', 'Collaborative Name',
       'Adequate Yearly Progress Made? ', 'Track Schedule',
       'CPS Performance Policy Status', 'CPS Performance Policy Level',
       'Healthy Schools Certified?', 'Safety Icon ', 'Safety Score',
       'Family Involvement Icon', 'Family Involvement Score',
       'Environment Icon ', 'Environment Score', 'Instruction Icon ',
       'Instruction Score', 'Leaders Icon ', 'Leaders Score ',
       'Teachers Icon ', 'Teachers Score', 'Parent Engagement Icon ',
       'Parent Engagement Score', 'Parent Environment Icon',
       'Parent Environment Score', 'Average Student Attendance',
       'Rate of Misconducts (per 100 students) ', 'Average Teacher Attendance',
       'Individualized Education Program Compliance Rate ', 'Pk-2 Literacy %',
       'Pk-2 Math %', 'Gr3-5 Grade Level Math %', 'Gr3-5 Grade Level Read % ',
       'Gr3-5 Keep Pace Read %', 'Gr3-5 Keep Pace Math %',
       'Gr6-8 Grade Level Math %', 'Gr6-8 Grade Level Read %',
       'Gr6-8 Keep Pace Math%', 'Gr6-8 Keep Pace Read %',
       'Gr-8 Explore Math %', 'Gr-8 Explore Read %', 'ISAT Exceeding Math %',
       'ISAT Exceeding Reading % ', 'ISAT Value Add Math',
       'ISAT Value Add Read', 'ISAT Value Add Color Math',
       'ISAT Value Add Color Read', 'Students Taking  Algebra %',
       'Students Passing  Algebra %', '9th Grade EXPLORE (2009) ',
       '9th Grade EXPLORE (2010) ', '10th Grade PLAN (2009) ',
       '10th Grade PLAN (2010) ', 'Net Change EXPLORE and PLAN',
       '11th Grade Average ACT (2011) ', 'Net Change PLAN and ACT',
       'College Eligibility %', 'Graduation Rate %',
       'College Enrollment Rate %', 'College Enrollment (number of students) ',
       'General Services Route ', 'Freshman on Track Rate %', 'RCDTS Code',
       'X_COORDINATE', 'Y_COORDINATE', 'Latitude', 'Longitude',
       'Community Area Number', 'Community Area Name', 'Ward',
       'Police District', 'Location'],
      dtype='object')

In [41]:
pd.read_sql("""
SELECT "Name of School", "Safety Score"
FROM Chicago
WHERE "Safety Score" = (
    SELECT MAX("Safety Score") FROM Chicago
);
""", con)

                                      Name of School  Safety Score
0                  Abraham Lincoln Elementary School          99.0
1            Alexander Graham Bell Elementary School          99.0
2       Annie Keller Elementary Gifted Magnet School          99.0
3                Augustus H Burley Elementary School          99.0
4        Edgar Allan Poe Elementary Classical School          99.0
5                        Edgebrook Elementary School          99.0
6                   Ellen Mitchell Elementary School          99.0
7         James E McDade Elementary Classical School          99.0
8                   James G Blaine Elementary School          99.0
9                LaSalle Elementary Language Academy          99.0
10  Mary E Courtenay Elementary Language Arts Center          99.0
11         Northside College Preparatory High School          99.0
12             Northside Learning Center High School          99.0
13                    Norwood Park Elementary School          99.0
14                     Oriole Park Elementary School          99.0
15                       Sauganash Elementary School          99.0
16       Stephen Decatur Classical Elementary School          99.0
17                          Talman Elementary School          99.0
18                        Wildwood Elementary School          99.0

In [42]:
pd.read_sql("""
SELECT
    "Name of School",
    "Average Student Attendance"
FROM Chicago
WHERE "Average Student Attendance" IS NOT NULL
ORDER BY "Average Student Attendance" DESC
LIMIT 10;
""", con)

                                  Name of School Average Student Attendance
0          John Charles Haines Elementary School                      98.4%
1                   James Ward Elementary School                      97.8%
2    Edgar Allan Poe Elementary Classical School                      97.6%
3  Orozco Fine Arts & Sciences Elementary School                      97.6%
4                Rachel Carson Elementary School                      97.6%
5   Annie Keller Elementary Gifted Magnet School                      97.5%
6     Andrew Jackson Elementary Language Academy                      97.4%
7       Lenart Elementary Regional Gifted Center                      97.4%
8                        Disney II Magnet School                      97.3%
9     John H Vanderpoel Elementary Magnet School                      97.2%

In [47]:
pd.read_sql("""
SELECT
    "Name of School",
    "Average Student Attendance"
FROM Chicago
WHERE "Average Student Attendance" IS NOT NULL
ORDER BY "Average Student Attendance" 
Limit 5;


""",con)

,Name of School,Average Student Attendance
0,Richard T Crane Technical Preparatory High School,57.9%
1,Barbara Vick Early Childhood & Family Center,60.9%
2,Dyett High School,62.5%
3,Wendell Phillips Academy High School,63.0%
4,Orr Academy High School,66.3%

In [52]:
pd.read_sql("""
SELECT "Name of School", REPLACE("Average Student Attendance", '%', '') as "Average Student Attendance"
     from Chicago 
     order by "Average Student Attendance "
     LIMIT 5


""",con)

,Name of School,Average Student Attendance
0,Abraham Lincoln Elementary School,96.0
1,Adam Clayton Powell Paideia Community Academy ...,95.6
2,Adlai E Stevenson Elementary School,95.7
3,Agustin Lara Elementary Academy,95.5
4,Air Force Academy High School,93.3